.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.ProseMirror {
    width: 100%;
    height: 100%;
    outline: none;
    inline-height: 1.5;
    margin-bottom: 1em;

    > * + * {
        margin-top: 0.75em;
    }
    
    [data-id] {
        border: 3px solid #0D0D0D;
        border-radius: 0.5rem;
        margin: 1rem 0;
        position: relative;
        margin-top: 1.5rem;
        padding: 2rem 1rem 1rem;
    
        &::before {
            content: attr(data-id);
            background-color: #0D0D0D;
            font-size: 0.6rem;
            letter-spacing: 1px;
            font-weight: bold;
            text-transform: uppercase;
            color: #fff;
            position: absolute;
            top: 0;
            padding: 0.25rem 0.75rem;
            border-radius: 0 0 0.5rem 0.5rem;
        }
    }

}

.ProseMirror h1,
.ProseMirror h2,
.ProseMirror h3,
.ProseMirror h4,
.ProseMirror h5,
.ProseMirror h6 {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

.ProseMirror ul,
.ProseMirror ol {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 2em;
}

.ProseMirror li {
    margin-bottom: 0.5em;
}

.ProseMirror pre {
    margin-top: 1em;
    margin-bottom: 1em;
}

.editor {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    font-family: Arial, sans-serif;
    min-height: 300px;
    background-color: #f8f9fa;
}

pre {
    background-color: #2d2d2d;
    color: #f8f8f2;
    border-radius: 5px;
    padding: 16px;
    overflow-x: auto;
    font-family: "Fira Code", monospace;
}

pre code {
    background-color: #2d2d2d;
    color: #f8f8f2;
    display: block;
    font-family: "Fira Code", monospace;
    white-space: pre;
}

.markdown-output {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    padding: 16px;
    border-radius: 5px;
}

.btn {
    margin: 16px 0;
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

/* 표 스타일 */
table {
    width: 100%;
    border-collapse: collapse;
    /* 셀 간 간격 제거 */
    margin: 16px;
}

th,
td {
    border: 1.3px solid #ddd;
    padding: 10px !important;
    text-align: left;
}

.ProseMirror pre code {
    background-color: #2d2d2d;
    display: block;
    font-family: "Fira Code", monospace;
    white-space: pre;
    color: #f8f8f2;
    padding: 32px;
}

.drag-handle {
    align-items: center;
    background: #f0f0f0;
    border-radius: .25rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: grab;
    display: flex;
    height: 1.5rem;
    justify-content: center;
    width: 1.5rem;

    svg {
        width: 1.25rem;
        height: 1.25rem;
    }
}