.title-input-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 2px;
    padding: 10px;
    position: relative;
    width: 100%;
}

.title-input {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.title-save-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.title-save-button:hover {
    background-color: #0056b3;
}