.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    z-index: 1000;
    /* 사이드바의 z-index 설정 */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.sidebar.closed {
    transform: translateX(-100%);
}

.sidebar.open {
    transform: translateX(0);
}

.sidebar-header {
    display: flex;
    align-items: center;
    justify-content: start;
}

.sidebar button {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    background: none;
    border: none;
    cursor: pointer;
}

.sidebar-content {
    flex-grow: 1;
    color: black;
    /* 글씨 색상을 검은색으로 설정 */
}

.sidebar-footer {
    margin-top: auto;
}

.team-name {
    cursor: pointer;
    font-weight: normal;
    /* 폰트를 더 얇게 설정 */
    margin-bottom: 2px;
    /* 팀 이름 간의 간격을 넓힘 */
}

.team-dropdown {
    padding-left: 20px;
    margin-bottom: 10px;
    /* 드롭다운 항목 간의 간격을 넓힘 */
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    /* 부드러운 드롭다운 애니메이션 */
}

.team-dropdown.open {
    max-height: 120px;
    /* 드롭다운이 열릴 때의 최대 높이 설정 */
}